@import url('https://fonts.googleapis.com/css?family=Abel');

th{
    text-align: right;
    color: #bc141b;
    padding: 10px;
}

td{
    padding: 10px;
}

.right{
    position: relative;
    right: 0px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.card {
    width: 450px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
}

.card h1 {
    text-align: center;
  margin-top: 20px;
}

.card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#ff9b9c, #eea29d);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.card.green .additional {
    background: linear-gradient(#92bCa6, #A2CCB6);
}

.card.gray .additional {
    background: linear-gradient(#bcc1c4, #bfc4c7);
}

.card.yellow .additional {
    background: linear-gradient(#e2e349, #e2e349);
}


.card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
}

.card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0,0,0,0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
}

.card .additional .user-card .points {
    top: 85%;
}

.card .additional .user-card svg {
    top: 50%;
}

.card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
}

.card .additional .more-info h1 {
    color: #643232;
    margin-bottom: 0;
}

.card.green .additional .more-info h1 {
    color: #286f55;
}

.card.gray .additional .more-info h1 {
    color: #686666;
}

.card.yellow .additional .more-info h1 {
    color: #656518;
}

.card .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
}

.card.green .additional {
    color: #286f55;
}

.card.yellow .additional {
    color: #656518;
}

.card.gray .additional {
    color: #686666;
}

.card .additional .coords span + span {
    float: right;
}

.card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #643232;
}

.card.green .additional .stats {
    color: #325C46;
}

.card.yellow .additional .stats {
    color: #4c4c13;
}

.card.gray .additional .stats {
    color: #4c4a4a;
}

.card .additional .stats > div {
    flex: 1;
    text-align: center;
}

.card .additional .stats svg {
    display: block;
    fill : currentColor;
}

.card .general svg{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.iconWarning {
    display: inline-block;
}

.card .additional .stats i {
    display: block;
}

.card .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card .additional .stats div.value {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
    font-size: 2.5rem;
}

.card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
}

.card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
}

.modalButton {
    margin-left: 25%;
    margin-right: 25%;
    width: 50% ;
    padding: 10px;
    border-radius: 25px;
    background-color: transparent;
    border: 0px;
    font-weight: bold;
    color: currentColor;
}

.card .modalButton:hover{
    background-color: #653a3b;
    color: #ff9b9c;
    border-radius: 25px;
    text-decoration: none;
}

.card.green .modalButton:hover{
    background-color: #48614f;
    color: #92bCa6;
    border-radius: 25px;
    text-decoration: none;
}

.card.gray .modalButton:hover{
    color: #bcc1c4;
    background-color: #595e61;
    border-radius: 25px;
    text-decoration: none;
}

.card.yellow .modalButton:hover{
    color: #e2e349;
    background-color: #636425;
    border-radius: 25px;
    text-decoration: none;
}

.Information {
    position: absolute;
    bottom: 0px;
}

.InformationContent{
    text-align: center;
}